// VARIABLES

// Colors
$secret-background: #FFFFFF;
$secret-swap-white: #FFFFFF;
$secret-swap-green-01: #3EA248;
$secret-swap-green-02: #79CC81;
$secret-swap-green-03: #E9F7EA;
$secret-swap-red-01: #D94C48;
$secret-swap-neutral-01: #0E0E10;
$secret-swap-neutral-03: #5F5F6B;

//Fonts
$font-family: Poppins;

//Buttons
.button-primary-lg {
    width: 100%;
    background-color: $secret-swap-green-02;
    border: 1px solid  $secret-swap-green-02;
    border-radius: 4px;
    padding: 12px 104.5px;
    font-size: 16px;
    cursor: pointer;

    &:hover{
        background-color: $secret-swap-green-01;
    }

}

.button-primary-sm {
    color: $secret-swap-white;
    background-color:  $secret-swap-green-02;
    border: 1px solid $secret-swap-green-02;
    border-radius: 3px;
    cursor: pointer;

    &:hover{
        background-color: $secret-swap-green-01;
    }
}

.trans{
    border: 1px solid $secret-swap-neutral-01;
    border-radius: 4px;
    height: 46px;
    width: 152.5px;
    padding: 11px, 35.25px, 11px, 35.25px;
    cursor: pointer;
    background-color: none;
}

// Box Round Data

.lottery-container{
     p{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
    }

    h1{
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 72px;
        letter-spacing: 0.01em;
        text-align: center;
        margin: 0;
    }

    h2{
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 54px;
        letter-spacing: 0em;
        text-align: center;
        margin: 0;
    }

    h3{
        font-family: Poppins;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 42px;
        letter-spacing: 0.01em;
        text-align: center;
        margin: 0;
    }

    h4{
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: center;
        margin: 0;
    }

    h5{
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        margin: 0;
    }

    h6{
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        margin: 0;
    }
    
}

// Lottery Component
.box-round{
    background-color: $secret-background;
    box-shadow: 4px 4px 32px rgba(140, 140, 140, 0.25);
    border-radius: 16px;
    padding: 26px;
    height: 396px;
    width: 600px;
    // Center content
    margin: 0 auto;

    .data{
        display: grid;
        grid-template-rows: 3 1fr;
        grid-row-gap: 4px;

        .data-header{
            h4{
                color: $secret-swap-neutral-03;
            }
        }

        .data-body{

        color: $secret-swap-green-01;

            span{
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 30px;
                letter-spacing: 0em;
            }
        }
    }

    .round-bottom{
        margin-top: 37px;
        
        .round-bottom-content{

            display: grid;
            grid-template-rows: 2 1fr;
            grid-row-gap: 16px;

            span {
                color: $secret-swap-neutral-03;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: center;
            }
        }
    }

}

.modal-container{
    margin: 32px auto 0 auto;
    height: 418px;
    width: 420px;
    border-radius: 16px;
    padding: 26px;
    background: #FFFFFF;
    box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
    border-radius: 16px;

    .modal-header{
        display: flex;
        justify-content: space-between;
    }
    
    .modal-nav{
        display: flex;

        button &.active{
            background:rgba(255, 114, 110, 0.2);
            border-radius: 10px;
            padding: 8px;
            cursor: pointer;
            text-decoration: none;
            width: 184px;
            height: 40px;
            border: none;
            color:  #FF726E;
        }

        button &.inactive{
            border-radius: 10px;
            padding: 8px;
            cursor: pointer;
            text-decoration: none;
            width: 184px;
            height: 40px;
            border: none;
            color:  #FF726E;
        }
    }

    .modal-body{
    
    }

    .modal-footer{
        background: #FCF9F3;
        height: 78px;
        width: 368px;
        border-radius: 8px;
        padding: 10px;
    }
}
.counter-row{
    margin-top: 42px;

    h4{
        color:$secret-swap-neutral-03;
    }

    span{
        color:$secret-swap-green-01;
    }
}

.box-round-pot{ 

    margin-top: 32px;

    background-color:$secret-background;
    height: 989px;
    width: 742px;
    border-radius: 16px;
    padding: 26px;
    box-shadow: 4px 4px 32px rgba(140, 140, 140, 0.25);
    margin: 0 auto;

    .round-info-container{
        margin-top: 26px;
        display: grid;
        grid-template-rows: 8 1fr;
        grid-row-gap: 16px;

        .row-match{
            display: grid;
            grid-template-columns: 35% 30% 35%;
            align-items: center;
            padding: 10px;

            .col-title{
                
                .burn{
                    h4{
                        color:$secret-swap-red-01 !important;
                    }
                }

                h4{
                    text-align: left;
                    color:$secret-swap-neutral-03;                   
                }
            }

            .col-values{
                h4{
                    text-align: right;
                }
                p{
                    text-align: right;
                    color:$secret-swap-neutral-03;
                }
                span{
                    color:$secret-swap-neutral-03;
                }
            }

            .col-results{
                i{
                    margin-right: 12px;

                    :last-of-type{
                        margin-right: 0px;
                    }
                }
            }
        }

    }

    .box-pot-size{
        margin-top: 36px;
        border-radius: 16px;
        padding: 16px;
        background-color:$secret-swap-green-03;
        
        height: auto;
        width: auto;

        .box-pot-size-container{
            display: grid;
            grid-template-columns: 50% 50%;
            align-items: center;
            // grid-column-gap: 26px;

            .col-pot-results{
                display: grid;
                grid-template-rows: (3, 1fr);
                grid-gap: 4px;

                h5{
                    color:$secret-swap-green-01;
                }

                span{
                    font-size: 20px;
                }

                h6{
                    color:$secret-swap-neutral-03;
                }
            }

        }
    }  
}

.box-tickets{
    margin-top: 32px;
    background:$secret-swap-white ;
    box-shadow: 4px 4px 32px rgba(140, 140, 140, 0.25);
    border-radius: 16px;
    padding: 26px;
    width: auto;
    height: auto;

    .tickets-result{
        margin-top: 36px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-column-gap: 20px;
        grid-row-gap: 16px;
        align-items: center;

        button{
            background-color: white;
            height: 46px;
            width: 152.5px;
            border-radius: 4px;
            padding: 11px, 42px, 11px, 42px;
            color:$secret-swap-neutral-01;
            border: 1px solid $secret-swap-neutral-01;
            font-weight: 600px;
            font-size: 16px;
        }
            
    }
}
