// VARIABLES
// Colors Light
$secret-background: #FFFFFF;
$secret-swap-white: #FFFFFF;
$secret-swap-green-01: #3EA248;
$secret-swap-green-02: #79CC81;
$secret-swap-green-03: #E9F7EA;
$secret-swap-red-01: #D94C48;
$secret-swap-red-02: #FAE6E6;
$secret-swap-neutral-01: #0E0E10;
$secret-swap-neutral-03: #5F5F6B;
$secret-swap-neutral-07: #F9FAFA;

$secret-swap-modal-footer-container: #FCF9F3;

// Dark Colors
$secret-background-dark: #000000;
$secret-swap-green-01-dark: #3EA248;

$secret-swap-green-03-dark: #151517;;
$secret-swap-neutral-01-dark: #FFFFFF;
$secret-swap-neutral-03-dark: #DEDEDE;

$secret-swap-modal-footer-container-dark: #0E0E10;

//Fonts
$font-family: Poppins;

.trans{
    border: 1px solid var(--secret-swap-neutral-01);
    border-radius: 4px;
    height: 46px;
    width: 152.5px;
    padding: 11px, 35.25px, 11px, 35.25px;
    cursor: pointer;
    background-color: none;
}

// Box Round Data
.connect-wallet-container{
    display: grid;
    margin-top: 26px;
    row-gap: 16px;
    justify-content: center;
    span{
        align-items: center;
        display: flex;
    }
}
.no-tickets-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    grid-column: 1 / 5;
    max-width: 50%;
    row-gap: 8px;
    text-align: center;
}
.lottery-container{

    --secret-background: #{$secret-background};
    --secret-swap-green-01: #{$secret-swap-green-01};

    --secret-swap-green-03: #{$secret-swap-green-03};
    --secret-swap-neutral-01: #{$secret-swap-neutral-01};
    --secret-swap-neutral-03: #{$secret-swap-neutral-03};
   
    &.dark{
        --secret-background: #{$secret-background-dark};
        --secret-swap-green-01: #{$secret-swap-green-01-dark};

        --secret-swap-green-03: #{$secret-swap-green-03-dark};
        --secret-swap-neutral-01: #{$secret-swap-neutral-01-dark};
        --secret-swap-neutral-03: #{$secret-swap-neutral-03-dark};
    }

     p{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--secret-swap-neutral-03);
    }

    h1{
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 72px;
        letter-spacing: 0.01em;
        text-align: center;
        margin: 0;
    }

    h2{
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 54px;
        letter-spacing: 0em;
        text-align: center;
        margin: 0;
        color:var(--secret-swap-neutral-01);
    }

    h3{
        font-family: Poppins;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 42px;
        letter-spacing: 0.01em;
        text-align: center;
        margin: 0;
    }

    h4{
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: center;
        margin: 0;
    }

    h5{
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        margin: 0;
    }

    h6{
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        margin: 0;
    }

    //Buttons
    .button-primary-lg {
        width: 100%;
        background-color: $secret-swap-green-02;
        border: 1px solid  $secret-swap-green-02;
        border-radius: 4px;
        padding: 12px 104.5px;
        font-size: 16px;
        cursor: pointer;
        outline: none;

        &:hover{
            background-color: var(--secret-swap-green-01);
            outline: none;
        }

    }

    .button-primary-sm {
        color: $secret-swap-white;
        background-color:  $secret-swap-green-02;
        border: 1px solid $secret-swap-green-02;
        border-radius: 3px;
        cursor: pointer;

        &:hover{
            background-color: var(--secret-swap-green-01);
        }
    }

    #button-outline{
        cursor: pointer;
        background-color: transparent;
        height: 46px;
        width: 152.5px;
        border-radius: 4px;
        padding: 11px, 42px, 11px, 42px;
        color:var(--secret-swap-neutral-01);
        border: 1px solid var(--secret-swap-neutral-01);
        font-weight: 600px;
        font-size: 16px;
    }

    // POT SIZE
    .box-round{
        background-color: var(--secret-background);
        box-shadow: 4px 4px 32px rgba(140, 140, 140, 0.25);
        border-radius: 16px;
        padding: 26px;
        height: auto;
        width: 600px;
        // Center content
        margin: 0 auto;
    
        
        
        .content-hero{
            z-index: 999;
        }

        .data-header{
            &.hero-lottery{
                background-image: url('https://i.ibb.co/Rvf9vCr/lottery-icons.png');
                background-repeat: no-repeat;
                background-size: auto;
                height: 129px;
                display: grid;
                justify-content: center;
                align-items: end;
            }
            h4{
                color: var(--secret-swap-neutral-01);
            }
        }
    
        .data{
            display: grid;
            grid-template-rows: 2 1fr;
            grid-row-gap: 4px;
    
            .data-body{
    
                color: var(--secret-swap-green-01);
    
                span{
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 30px;
                    letter-spacing: 0em;
                }
            }
    
            .data-footer{
                h4{
                    color: var(--secret-swap-neutral-03);
                }
            }
        }
    
        .round-bottom{
            margin-top: 37px;
            
            .round-bottom-content{
    
                display: grid;
                grid-template-rows: 2 1fr;
                grid-row-gap: 16px;
    
                span {
                    color: var(--secret-swap-neutral-03);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: center;
                }
            }
        }
    
        .round-footer-tickets{
            margin-top: 42px;
            display: grid;
            grid-template-columns: 50% 50%;
    
            p{
                color:var(--secret-swap-neutral-03);
                margin: 0px 0px 4px 0px;
            }

            h3{
                color: var(--secret-swap-neutral-01);
            }
        }
    
    }

    // COUNTER ROW
    .counter-row{
        margin-top: 26px;

        h4{
            color: var(--secret-swap-neutral-03);
        }

        span{
            color: var(--secret-swap-green-01);
        }
    }

    
    // ROUND POT DISTRIBUTION
    .box-round-pot{ 
        margin-top: 32px;
        background-color:var(--secret-background);
        height: auto;
        width: 742px;
        border-radius: 16px;
        padding: 26px;
        box-shadow: 4px 4px 32px rgba(140, 140, 140, 0.25);
    
        .round-info-container{
            margin-top: 26px;
            display: grid;
            grid-template-rows: 8 1fr;
            grid-row-gap: 16px;
    
            .row-match{
                display: grid;
                grid-template-columns: 35% 30% 35%;
                align-items: center;
                padding: 10px;
    
                .col-title{
    
                    h4{
                        text-align: left;
                        color:var(--secret-swap-neutral-03);                   
                    }
    
                     #burn{
                            
                        color:$secret-swap-red-01;
                        
                    }
    
                }
    
                .col-values{
                    h4{
                        color: var(--secret-swap-neutral-01);
                        text-align: right;
                    }
                    p{
                        text-align: right;
                        color:var(--secret-swap-neutral-03);
                    }
                    span{
                        color:var(--secret-swap-neutral-03);
                    }
                }
    
                .col-results{
                    i{
                        margin-right: 12px;
    
                        :last-of-type{
                            margin-right: 0px;
                        }
                    }
                }
            }
    
        }
    
        .box-pot-size{
            margin-top: 36px;
            border-radius: 16px;
            padding: 16px;
            background-color: var(--secret-swap-green-03);
            height: auto;
            width: auto;
    
            .box-pot-size-container{
                display: grid;
                grid-template-columns: 50% 50%;
                align-items: center;
                // grid-column-gap: 26px;
    
                .col-pot-results{
                    display: grid;
                    grid-template-rows: (3, 1fr);
                    grid-gap: 4px;

                    h4{
                        color: var(--secret-swap-neutral-01);
                    }
    
                    h5{
                        color:var(--secret-swap-green-01);
                    }
    
                    span{
                        font-size: 20px;
                    }
    
                    h6{
                        color:var(--secret-swap-neutral-03);
                    }
                }
    
            }
        }  
    }

    // YOUR TICKETS
    .box-tickets{
        margin-top: 32px;
        background: var(--secret-background);
        box-shadow: 4px 4px 32px rgba(140, 140, 140, 0.25);
        border-radius: 16px;
        padding: 26px;
        width: 742px;
        margin: 32px auto 0px auto;
        height: auto;
    
        h2{
            text-align: center;
        }
    
        .tickets-result{
            margin-top: 26px;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-column-gap: 20px;
            grid-row-gap: 16px;
            align-items: center;
            justify-items: center;
    
            #title{
                color: var(--secret-swap-neutral-03);
            }
    
            h6{
                margin: 0;
                color:var(--secret-swap-neutral-01);
            }
    
           
             
            
        }
    }

    // PREVIOUS ROUNDS
    .box-previous-round{
        background:var(--secret-background);
        height: 992px;
        width: 742px;
        box-shadow: 4px 4px 32px rgba(140, 140, 140, 0.25);
        border-radius: 16px;
        padding: 26px;
        margin: 32px auto 0 auto;
        margin-bottom: 32px;
    
        display: grid;
        grid-template-rows: 3 auto;
        grid-row-gap: 26px;
    
        .round-navigation{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            h4{
                color: var(--secret-swap-neutral-01);
            }
        }
    
    
        .round-result-container{
            background: var(--secret-swap-green-03);
            padding: 16px;
            border-radius: 16px;
            height: auto;
            height: 805px;
            width: 690px;
    
            .round-result-header{
                display: grid;
                grid-template-columns: repeat(3, auto);
                grid-column-gap: 10px;
                padding: 10px;
    
                .header-item{
                    display: grid;
                    grid-template-rows: 2 1fr;
                    grid-row-gap: 4px;
    
                    h3{
                        color:var(--secret-swap-neutral-03);
                    }
    
                    p{
                        color:var(--secret-swap-neutral-03);
                    }
    
                    #sefi-price{
                        color:var(--secret-swap-green-01);
                    }
                }
            }
    
            .table-titles{
                margin-top: 16px;
                padding: 10px;
                display: grid;
                grid-template-columns: 33% 40% 27%;
                
                h6{
                    color:var(--secret-swap-neutral-03);
                }
    
                .title-sequence{
                    h6{
                        text-align: left;
                    }
                }
    
                .title-winners{
                    h6{
                        text-align: right;
                    }
                }
            }
    
            .round-result-body{
                margin-top: 16px;
                display: grid;
                grid-template-rows: 6 1fr;
                grid-row-gap: 16px;
                align-items: center;
    
                .row-body{
                    display: grid;
                    padding: 10px;
                    grid-template-columns: 33% 40% 27%;
                    align-items: center;

                    h4{
                        color: var(--secret-swap-neutral-01);
                    }
    
                    .col-sequence{
                        i{
                            margin-right: 12px;
    
                            :last-of-type{
                                margin-right: 0px;
                            }
                        }
                    }
    
                    .col-dist-rewards{
                        h4{
                            text-align: right;
                        }
                        p{
                            text-align: right;
                            color: var(--secret-swap-neutral-03);
                        }
                    }
    
                    .col-winners{
                        h4{
                            text-align: right;
                        }
                    }
                }
            }
    
            .round-result-footer{
                margin-top: 16px;
    
                .row-body{
                    padding: 10px;
                    display: grid;
                    grid-template-columns: 33% 40% 27%;
                    align-items: center;
    
                    .col-sequence{
                        h4{
                            color:$secret-swap-red-01;
                            text-align: left;
                        }
                    }
    
                    .col-dist-rewards{
                        h4{
                            text-align: right;
                            color: var(--secret-swap-neutral-01);
                        }
    
                        p{
                            text-align: right;
                            color:var(--secret-swap-neutral-03);
                        }
                    }
    
                    .col-winners{
                        h4{
                            text-align: right;
                            color: var(--secret-swap-neutral-01);
                        }
                    }
    
                    
    
    
                }
            }
    
            
        }
    }

}

// M O D A L S

// MODAL BUY TICKETS
.modal-container{

    --secret-background: #{$secret-background};
    --secret-swap-green-01: #{$secret-swap-green-01};

    --secret-swap-green-03: #{$secret-swap-green-03};
    --secret-swap-neutral-01: #{$secret-swap-neutral-01};
    --secret-swap-neutral-03: #{$secret-swap-neutral-03};

    --secret-swap-modal-footer-container: #{$secret-swap-modal-footer-container};


   
    &.dark{
        --secret-background: #{$secret-background-dark};
        --secret-swap-green-01: #{$secret-swap-green-01-dark};

        --secret-swap-green-03: #{$secret-swap-green-03-dark};
        --secret-swap-neutral-01: #{$secret-swap-neutral-01-dark};
        --secret-swap-neutral-03: #{$secret-swap-neutral-03-dark};

        --secret-swap-modal-footer-container: #{$secret-swap-modal-footer-container-dark};
    }

    &.modal{
        margin: auto;
        height: fit-content;
        width: 420px;
        border-radius: 16px;
        padding: 26px;
        background: var(--secret-background);
        box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
    }
    //Buy tickets manually
    .thumb{
        background: #ccc;
    }
    .inputs-container{
        padding: .5rem .5rem;
        min-height: 44px;
        max-height: 184px;
        height: 184px !important;
        margin: 0;
        div:first-child{
            display: grid;
            gap: 10px;
            grid-template-columns: auto auto auto;
            grid-template-rows: 45px 45px 45px ;
        }
        div{
            &.manual-input{
                display: -webkit-box;
                width: fit-content;
                height: fit-content;
                input {
                    min-height: 44px;
                    max-height: 44px;
                    min-width: 110px;
                    min-width: 110px;
                    font-size: 17px;
                }
            }
        }
    }

    .modal-header-buy{
        display: flex;
        justify-content: space-between;

        h6{
            display: flex;
            align-items: center;
            margin: 0;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: var(--secret-swap-neutral-03);
        }
        h3{
            cursor: pointer;
            margin: 0;
            font-size: 22px;
            color:var(--secret-swap-neutral-01);
        }
    }
    
    .modal-nav{
        margin-top:16px;
        display: flex;

        button {
            &.active{
                background:rgba(255, 114, 110, 0.2);
                border-radius: 10px;
                padding: 8px;
                text-decoration: none;
                width: 184px;
                height: 40px;
                border: none;
                color:#FF726E;
                cursor: pointer;
                border: transparent;
                outline: none;
            }

            &.inactive{
                border-radius: 10px;
                padding: 8px;
                text-decoration: none;
                width: 184px;
                height: 40px;
                border: none;
                color:var(--secret-swap-neutral-03);
                background:var(--secret-background);
                cursor: pointer;
                border: transparent !important;
                outline: none;
            }
        }
        
    }

    .modal-body-buy{
        margin-top: 16px;
        display: grid;
        grid-template-rows: (3, 1fr);
        grid-row-gap: 16px;

        button{
            background-color: transparent;
            color: #FF726E;

            &:hover{
                background-color: transparent;
            }

            &:focus{
                background-color:unset;
            }
        }

        .input{
            input{
                font-size: 28px;
                font-style: normal;
                font-weight: 600;
                line-height: 42px;
                letter-spacing: 0.01em;
                text-align: center;
                color: #D6D6D6;
                background: transparent;

                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                 &:focus{
                    border-color: #D6D6D6;
                }
            }
        }

        .purchased-tickets{

            text-align: center;

            h6{
                color:var(--secret-swap-neutral-03);
                font-size: 16px;
                font-style: normal;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: center;
                margin: 0;
            }

            span{
                color:var(--secret-swap-neutral-03);
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: center;
            }
        }
    }

    .modal-footer-container{
        margin-top: 16px;
        background: var(--secret-swap-modal-footer-container);
        height: 78px;
        width: 368px;
        border-radius: 8px;
        padding: 10px;
        display: grid;
        grid-template-rows: 2 50%;
        grid-row-gap: 10px;
        
        .row-footer{
            display: flex;
            justify-content: space-between;
        }

        p{
            color: var(--secret-swap-neutral-03);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
            margin: 0;
        }

        h6{
            color: var(--secret-swap-neutral-01);
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: right;
            margin: 0;
        }

    }
}


// MODAL TICKETS

.dimmer{

    --secret-background: #{$secret-background};
    --secret-swap-green-01: #{$secret-swap-green-01};

    --secret-swap-green-03: #{$secret-swap-green-03};
    --secret-swap-neutral-01: #{$secret-swap-neutral-01};
    --secret-swap-neutral-03: #{$secret-swap-neutral-03};
   
    &.dark{
        --secret-background: #{$secret-background-dark};
        --secret-swap-green-01: #{$secret-swap-green-01-dark};

        --secret-swap-green-03: #{$secret-swap-green-03-dark};
        --secret-swap-neutral-01: #{$secret-swap-neutral-01-dark};
        --secret-swap-neutral-03: #{$secret-swap-neutral-03-dark};
    }

    .modal-content{
        width: 100%;
        background-color: var(--secret-background);
        background-clip: none;
        border-radius: 16px;
        padding: 26px;
        border: none;
        box-shadow: 0px 10px 32px -4px #18274B1A;
        box-shadow: 0px 6px 14px -6px #18274B1F;
    
        .modal-header{
            border: none;
            padding: 0;
    
            h6{
                margin: 0;
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color:var(--secret-swap-neutral-03);
    
                strong{
                    color: var(--secret-swap-neutral-01);
                }
            }
        }
    
        .modal-body{
            margin-top: 26px;
            padding: 0;
    
            .active-round{
                margin-bottom: 26px;
                width: 276px;
    
                p{
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin: 0;
                    color:var(--secret-swap-neutral-03);
                }
    
                span{
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: right;
                    margin: 0;
                    color:var(--secret-swap-neutral-01);                      
                }
            }
    
            .body-container{
                margin-bottom: 26px;
                display: grid;
                grid-template-columns: 50% 50%;
                
                .tickets-info{
                   
                    .tickets-info-container{
                        display: grid;
                        grid-template-rows: 3 1fr;
                        grid-row-gap: 16px;
                        width: 276px;
                    }
    
                    .info-item{
                        display: flex;
                        justify-content: space-between;
    
                        p{
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0em;
                            text-align: left;
                            margin: 0;
                            color:var(--secret-swap-neutral-03);
                        }
    
                        #winning-text{
                            color:var(--secret-swap-neutral-01);
                        }
    
                        #winning-number{
                            color:$secret-swap-green-01;
                        }
    
                        h6{
                            font-family: Poppins;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 24px;
                            letter-spacing: 0em;
                            text-align: right;
                            margin: 0;
                            color:var(--secret-swap-neutral-01);
                        }
                    }
                }
        
                .earnings-info{
                    background-color: var(--secret-swap-green-03);
                    border-radius: 16px;
                    height: 142px;
                    padding: 16px;
                    display: grid;
                    grid-template-rows: 50% 50%;
                    grid-row-gap: 10px;
                    align-items: center;
    
                    .row-earnings{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
    
                        p{
                            color:var(--secret-swap-neutral-03);
                            margin: 0;
                        }
    
                        h4{
                            color:$secret-swap-green-01;
                            font-family: Poppins;
                            font-size: 36px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 54px;
                            letter-spacing: 0em;
                            margin: 0;
                        }
    
                        span{
                            color:var(--secret-swap-neutral-03);
                            font-family: Poppins;
                            font-size: 22px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 29px;
                            letter-spacing: 0em;
                        }
                    }
    
                    .row-earning-sefi{
                        button{
                            height: 46px;
                        }
                    }
                }
            }
    
            .tickets-container{
                max-height: 400px;
                overflow-y: scroll;
                overflow-anchor: .5px;
                overflow-x: hidden;
    
                .tickets-row{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    margin-bottom: 10px;
                }
        
                .ticket-button{
                    background-color: $secret-swap-neutral-07;
                    height: 40px;
                    width: 142px;
                    border-radius: 10px;
                    padding: 8px;
                    color:$secret-swap-neutral-03;
                    text-align: center;
                    border: none;
                    font-size: 16px;
                    padding: 8px 41.8px;
                    font-weight: 600;
                    outline: none;
    
                    &-winner{
                        background-color:$secret-swap-green-03;
                        height: 40px;
                        width: 142px;
                        border-radius: 10px;
                        padding: 8px;
                        color:$secret-swap-neutral-03;
                        text-align: center;
                        border: none;
                        font-size: 16px;
                        padding: 8px 41.8px;
                        font-weight: 600;
                        outline: none;
                    }
    
                    &-no-winner{
                        background-color:$secret-swap-red-02;
                        height: 40px;
                        width: 142px;
                        border-radius: 10px;
                        padding: 8px;
                        color:$secret-swap-neutral-03;
                        text-align: center;
                        border: none;
                        font-size: 16px;
                        padding: 8px 41.8px;
                        font-weight: 600;
                        outline: none;
                    }
                }
            }
    
    
        }
        
    }
}


// POP OVER FOR MODAL
.popover{

    background-color: $secret-swap-neutral-03;
    width: 199px;
    border-radius: 4px;
    
    .popover-body{
        
        padding: 10px;
        color: #F9FAFA;
        
        p{
            font-family: Poppins;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: left;
            margin: 0;
        }
    
        strong{
            font-weight: 600;
        }
    }

    .arrow::after {
        bottom: 1px;
        border-top-color: $secret-swap-neutral-03;
    }
}